.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, black, rgb(173, 163, 163));
    color: white;
    padding: 20px;
  }
  .nav1 ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
  }
  
  .nav1 li {
    padding: 10px;
    border: solid white;
    border-radius: 20px;
    margin-right: 20px;
  }
  .nav1 li:hover{
    animation: changeColor 5s infinite;
  }
  
  .nav1 a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 28px;
    transition: color 0.3s;
  }
  
  .nav1 a:hover {
    color: rgb(255, 255, 255, 0.7);
  }
  @keyframes changeColor {
    0% {
      border-color: red;
    }
    25% {
      border-color: blue;
    }
    50% {
      border-color: green;
    }
    75% {
      border-color: yellow;
    }
    100% {
      border-color: red;
    }
  }
  .intro1{
    width: 60%;
    padding: 30px;
  }
  .intro0{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .intro2{
    background: linear-gradient(to right,rgba(34, 34, 34, 0.192),rgb(92, 91, 113));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    min-height: 100vh;
    position: relative;
    
  }
  .divcont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }
  .imgi{
    border-radius: 20px;
    margin: 30px;
    width: 250px;
    height: 250px;
    transition: transform .3s ease;
  }
  .imgi:hover{
    transform: scale(1.2);
  }
  .footer22 {
    padding: 10px;
    display: flex;
    

    background-color: rgb(135, 135, 135);
  }
  .fo2{
      margin: 20px;
  }
  footer {
    
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #83898e;
    padding: 10px;
    text-align: center;
  }
  .REG1{
    width: 600px;
    padding: 40px;
    border: solid black;
    border-radius: 20px;
  }
  .reg2{
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
 
.imglog{
  width: 300px;
  height: 300px;
  border-radius: 70px;
  margin: 20px;
  margin-left: 100px;
}
.head1{
  padding: 40px;
  text-align: center;
}
.policlas1{
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 60px;
}
.policlas1 h3{
  width: 50%;
}
.imgpoli{
  width: 200px;
  height: 200px;
}
.cre1{
  gap: 200px;
  padding: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.productos-container {
  padding: 20px;
}

.productos-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 50px;
}

.producto-item {
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  border-radius: 30px;
}

.producto-item:hover {
  transform: scale(1.05);
}
.imgpro{
  width: 200px;
}
.titulo{
  text-align: center;
  padding: 40px;
}
.novedades-container {
  padding: 20px;
}

.novedades-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  padding: 50px;
}

.novedad-item {
  border-radius: 30px;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.novedad-item:hover {
  transform: scale(1.05);
}
.carousel-container{
  margin: 50px;
  width:50% ;
  height: 50%;
  
}
.caru1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.d-block{
  border-radius: 100px;
}
.p1{
  color: red;
}
.he1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 40px;
}
 .secc1{
  width: 50%;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: solid black;
  border-radius: 20px;
  padding: 30px;
 }
 .social-icons a{
  background-color: rgb(255, 255, 255);
  margin: 25px;
  border-radius: 5px;
  transition: backgraound ;
 }
 .nav1 li:hover{
  animation: changeColor 5s infinite;
}
.from1{
  width: 40%;
  height: 30%;
  margin-left: 270px;
}
.nm1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.so1{
  padding: 20px;
  border: solid burlywood;
  border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .formulario-soporte {
    text-align: left;
    max-width: 400px; 
    margin: auto; 
  }

  .form-group {
    margin-bottom: 15px;
  } 
  label {
    display: block;
    margin-bottom: 5px;
  }
  